@font-face {
  font-family: "Nomine Medium";
  src: url(../font/Nominee/Nominee-Medium.otf);
}

nav .nav__ {
  padding: 1px;
  margin: 0 0 5px 0;
  border-top: 1px solid lightgray;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav__ ul li {
  margin: 4px 30px;
}

nav .nav__ ul li a {
  font-family: "Nomine Medium";
  color: #333333;
  -webkit-transition: .2s;
  transition: .2s;
}

nav .nav__ ul li a:hover {
  border-bottom: solid #51ab9a 1px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #51ab9a;
}

header .header__div {
  background-color: #51ab9a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 0.1rem;
}

header .header__div .header__div-p {
  color: white;
  padding: 5px 30px;
  margin: 0 100px;
  font-size: 13px;
  left: -2em;
}

header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

header .header__div2 {
  display: inline-block;
  position: relative;
  width: 400px;
  top: 0;
  padding: 15px;
}

header .header__div3 {
  display: inline-block;
  position: relative;
  width: 350px;
}

header .header__div3 ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

header .header__div3 ul li .facebook:hover {
  background: #3b5999;
}

header .header__div3 ul li .instagram:hover {
  background: #e4485f;
}

header .header__div3 ul li .twitter:hover {
  background: #55acee;
}

header .header__div3 ul li .whatsapp:hover {
  background: #25d366;
}

header .header__div3 ul li a {
  display: block;
  padding: 0 10px;
  margin: 2px;
  background: #155247;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

header .header__div3 ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

@media (max-width: 768px) {
  header .header__div .header__div-p {
    color: white;
    padding: 5px 25px;
    margin: 0;
    font-size: 13px;
  }
}

@font-face {
  font-family: "Nomine Title";
  src: url(../font/Nominee/Nominee-ExtraBoldExtended.ttf);
}

@font-face {
  font-family: "Nomine Medium";
  src: url(../font/Nominee/Nominee-Medium.ttf);
}

footer {
  font-family: "Nomine Medium";
  background-color: lightgray;
  color: #5e5b5b;
  padding: 20px 0 0 0;
}

@media (max-width: 375px) {
  footer {
    background-color: lightgray;
    width: 100%;
  }
}

footer .p-3 {
  border-right: solid rgba(211, 211, 211, 0.226);
  height: 16rem;
}

footer .lugar__div .lugar__div-p {
  display: inline-block;
  font-size: 16px;
}

footer .lugar__div i {
  color: #51ab9a;
  display: inline-block;
}

footer .lugar__div .lugar__div iframe {
  display: inline-block;
  width: 200px;
  height: 150px;
}

footer .lugar__div .lugar__div-p-p {
  margin: 5px 0 5px 0;
  font-size: 11px;
}

footer .newsletter__div h4 {
  display: inline-block;
  color: #51ab9a;
  font-size: 18px;
}

footer .newsletter__div p {
  font-size: 15px;
  width: 23rem;
  text-align: center;
}

@media (max-width: 375px) {
  footer .newsletter__div p {
    font-size: 11px;
    text-align: center;
    width: 18rem;
  }
}

footer .newsletter__div button {
  text-align: center;
  border: none;
  background: none;
  position: relative;
  left: 1rem;
  top: 1rem;
}

footer .newsletter__div input {
  height: 25px;
  width: 200px;
  font-size: 13px;
  background: lightgray;
  border: none;
  border-bottom: solid grey .5px;
}

footer .newsletter__div input:hover {
  border: none;
  border-bottom: solid grey .5px;
}

footer .newsletter__div i:hover {
  color: #51ab9a;
}

footer .navegacion__div h4 {
  display: inline-block;
  color: #51ab9a;
  font-size: 18px;
}

footer .navegacion__div div a {
  font-size: 15px;
  color: #5e5b5b;
}

footer .navegacion__div div a:hover {
  color: #51ab9a;
}

* {
  font-family: "Nomine Medium";
}

@font-face {
  * {
    font-family: "Nomine Medium";
    src: url(../font/Nominee/Nominee-Medium.ttf);
  }
}

.logos {
  background: #989898;
  width: 100%;
  height: 130;
  margin: 10px 0 10px 0;
}

.logos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logos div div {
  display: inline-block;
  background: #fff;
  width: 130px;
  height: 50px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos div div img {
  width: 130px;
  height: 50px;
}

@font-face {
  font-family: 'Nomine ExtraBold';
  src: url("../font/Nominee/Nominee-ExtraBold.otf") format("otf"), url("../font/Nominee/Nominee-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: 'Nomine Medium';
  src: url("../font/Nominee/Nominee-Medium.otf") format("otf"), url("../font/Nominee/Nominee-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Nomine Bold';
  src: url("../font/Nominee/Nominee-Bold.otf") format("otf"), url("../font/Nominee/Nominee-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Nomine Title";
  src: url(../font/Nominee/Nominee-ExtraBoldExtended.ttf);
}

@font-face {
  font-family: "Nomine Medium";
  src: url(../font/Nominee/Nominee-Medium.ttf);
}

.main__ {
  margin: 30px 0 0 50px;
}

.main__ .main__servicios {
  background-color: #efefef;
  position: relative;
  width: 50%;
  height: 39rem;
  padding: 20px;
}

.main__ .main__servicios h4 {
  font-size: 1rem;
  color: #51ab9a;
  -webkit-transition: .2s;
  transition: .2s;
}

.main__ .main__servicios h1 {
  width: 45%;
  font-size: 2.8em;
  font-family: "Nomine Title";
}

.main__ .main__servicios p {
  font-family: "Nomine Medium";
  width: 80%;
  text-align: justify;
  font-size: .95rem;
}

.main__ .main__servicios .main__servicios-planes {
  width: 80%;
}

.main__ .main__servicios .main__servicios-planes h4 {
  position: relative;
  text-align: center;
  left: 4rem;
  color: #51ab9a;
  padding: 8px;
}

.main__ .main__servicios .swiper-button-next {
  color: #51ab9a;
  z-index: -332132321;
  size: 2px;
}

.main__ .main__servicios .swiper-button-prev {
  color: #51ab9a;
  z-index: -332132321;
}

.main__ .main__servicios .main__servicios-button {
  width: 40%;
}

.main__ .main__servicios .main__servicios-button button {
  border: 1px solid #51ab9a;
  height: 5rem;
  padding: 1.3rem 3rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.main__ .main__servicios .main__servicios-button button a {
  color: #51ab9a;
  text-decoration: none;
  font-family: "Nomine Medium";
}

.main__ .main__servicios .main__servicios-button button:hover {
  background-color: #70c4b5;
}

.main__ .main__servicios .main__servicios-button button:hover a {
  color: white;
}

.main__ .main__servicios .main__servicios-button button {
  background-color: #efefef;
}

.main__ .main__imagenes {
  position: relative;
  top: 1.1em;
  left: -1.2em;
  width: 50%;
}

.main__ .main__imagenes img {
  width: 55em;
  height: 35em;
}

.main__ .main__imagenes img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main2__ {
  margin: 30px 0 0 50px;
}

.main2__ .main2__servicios {
  position: relative;
  width: 50%;
  height: 39rem;
  padding: 20px;
}

.main2__ .main2__servicios h4 {
  font-size: 1rem;
  color: #51ab9a;
  -webkit-transition: .2s;
  transition: .2s;
}

.main2__ .main2__servicios h1 {
  width: 45%;
  font-size: 2.8em;
  font-family: "Nomine Title";
}

.main2__ .main2__servicios p {
  font-family: "Nomine Medium";
  width: 80%;
  text-align: justify;
  font-size: .95rem;
}

.main2__ .main2__servicios .main__servicios-planes {
  width: 80%;
}

.main2__ .main2__servicios .main__servicios-planes h4 {
  position: relative;
  text-align: center;
  left: 4rem;
  color: #51ab9a;
  padding: 8px;
}

.main2__ .main2__servicios .swiper-button-next {
  color: #51ab9a;
  z-index: -332132321;
  size: 2px;
}

.main2__ .main2__servicios .swiper-button-prev {
  color: #51ab9a;
  z-index: -332132321;
}

.main2__ .main2__servicios .main__servicios-button {
  width: 40%;
}

.main2__ .main2__servicios .main__servicios-button button {
  border: 1px solid #51ab9a;
  height: 5rem;
  padding: 1.3rem 3rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.main2__ .main2__servicios .main__servicios-button button a {
  color: #51ab9a;
  text-decoration: none;
  font-family: "Nomine Medium";
}

.main2__ .main2__servicios .main__servicios-button button:hover {
  background-color: #70c4b5;
}

.main2__ .main2__servicios .main__servicios-button button:hover a {
  color: white;
}

.main2__ .main2__servicios .main__servicios-button button {
  background-color: white;
}

.main2__ .main2__imagenes {
  position: relative;
  top: 1.1em;
  left: -1.2em;
  width: 50%;
}

.main2__ .main2__imagenes img {
  width: 55em;
  height: 35em;
}

.main2__ .main2__imagenes img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.section__imagen-corporal {
  width: 100%;
  height: 45vw;
}

.section__imagen-corporal .section__imagen-corporal2 {
  position: relative;
  min-height: 50vw;
  background-image: url(../imagenes/corporal/remodelar-cuerpo-sin-cirugia-ar-okf8j9lm456wg1tokmfw1tgw82jhj40d1lqfx5dxfe.jpg);
  background-size: cover;
}

.section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto {
  position: absolute;
  top: 3vw;
  left: 45vw;
  text-align: center;
}

.section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto h1 {
  font-family: "Nomine Title";
  font-size: 2rem;
  color: #efefef;
}

.section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto p {
  color: #efefef;
}

.section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto button {
  border: 1px solid #51ab9a;
  height: 2.7rem;
  background-color: white;
  padding: .6rem 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto button a {
  color: #51ab9a;
  text-decoration: none;
  font-family: "Nomine Medium";
  font-size: .9rem;
}

.section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto button:hover {
  background-color: #70c4b5;
}

.section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto button:hover a {
  color: white;
}

.section__imagen-facial {
  width: 100%;
  height: 45vw;
}

.section__imagen-facial .section__imagen-facial2 {
  position: relative;
  min-height: 50vw;
  background-image: url(../imagenes/facial/1569445862755-1567099884539-03.jpg);
  background-size: cover;
}

.section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto {
  position: absolute;
  top: 3vw;
  left: 50vw;
  text-align: center;
}

.section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto h1 {
  font-family: "Nomine Title";
  font-size: 2rem;
  color: #efefef;
}

.section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto p {
  color: #efefef;
}

.section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto button {
  border: 1px solid #51ab9a;
  height: 2.7rem;
  padding: .6rem 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto button a {
  color: #51ab9a;
  text-decoration: none;
  font-family: "Nomine Medium";
  font-size: .9rem;
}

.section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto button:hover {
  background-color: #70c4b5;
}

.section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto button:hover a {
  color: white;
}

@media (max-width: 910px) {
  .main__ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px 0 5px;
    margin: 10px 0 0 0;
  }
  .main__ .main__servicios {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: auto;
  }
  .main__ .main__servicios h1 {
    width: 100%;
    text-align: center;
  }
  .main__ .main__servicios p {
    width: 100%;
    font-size: .9rem;
  }
  .main__ .main__servicios .main__servicios-planes {
    width: 100%;
    text-align: center;
  }
  .main__ .main__servicios .swiper-button-next {
    z-index: 999999;
  }
  .main__ .main__servicios .swiper-button-prev {
    z-index: 999999;
  }
  .main__ .main__servicios .accordion-item {
    width: 95%;
  }
  .main__ .main__servicios h4 {
    text-align: center;
    font-size: 0.75em;
  }
  .main__ .main__servicios h1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.825em;
  }
  .main__ .main__imagenes {
    margin: 5px 0 10px 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
  }
  .main__ .main__imagenes img {
    width: 100%;
    height: auto;
  }
  .main2__ {
    margin: 10px 0 0 0;
  }
  .main2__ .main2__servicios {
    margin: 0;
    padding: 30px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .main2__ .main2__servicios .swiper-button-next {
    z-index: 999999;
  }
  .main2__ .main2__servicios .swiper-button-prev {
    z-index: 999999;
  }
  .main2__ .main2__servicios h4 {
    font-size: 0.75em;
  }
  .main2__ .main2__servicios h1 {
    font-size: 1.825em;
    width: 100%;
  }
  .main2__ .main2__servicios p {
    width: 100%;
    font-size: .9rem;
  }
  .main2__ .main2__servicios .main__servicios-planes {
    width: 100%;
    text-align: center;
  }
  .main2__ .main2__imagenes {
    margin: 5px 0 10px 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
  }
  .main2__ .main2__imagenes img {
    width: 100%;
  }
  .section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto h1 {
    font-size: 1.2rem;
  }
  .section__imagen-corporal .section__imagen-corporal2 .section__imagen-corporal2-texto p {
    font-size: .7rem;
  }
  .section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto h1 {
    font-size: 1.2rem;
  }
  .section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto p {
    font-size: .7rem;
  }
}

@media (max-width: 1220px) {
  .main__ {
    height: auto;
  }
  .main__ .main__servicios h4 {
    font-size: 0.75em;
  }
  .main__ .main__servicios h1 {
    font-size: 1.825em;
    width: 100%;
  }
  .main__ .main__servicios p {
    width: 100%;
    font-size: .9rem;
  }
  .main__ .main__servicios .main__servicios-planes {
    width: 100%;
    text-align: center;
  }
  .main__ .main__servicios .main__servicios-planes h4 {
    position: relative;
    left: 0;
  }
  .main__ .main__servicios .swiper-button-next {
    z-index: 999999;
  }
  .main__ .main__servicios .swiper-button-prev {
    z-index: 999999;
  }
  .main2__ .main2__servicios .main__servicios-planes {
    width: 100%;
    text-align: center;
  }
  .main2__ .main2__servicios .main__servicios-planes h4 {
    position: relative;
    left: 0;
  }
  .main2__ .main2__servicios .swiper-button-next {
    z-index: 999999;
  }
  .main2__ .main2__servicios .swiper-button-prev {
    z-index: 999999;
  }
  .main2__ .main2__servicios h4 {
    font-size: 0.75em;
  }
  .main2__ .main2__servicios h1 {
    font-size: 1.825em;
    width: 100%;
  }
  .main2__ .main2__servicios p {
    width: 100%;
    font-size: .9rem;
  }
  .section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto h1 {
    font-size: 1.4rem;
  }
  .section__imagen-facial .section__imagen-facial2 .section__imagen-facial2-texto p {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=corporal.css.map */