@font-face {
  font-family: "Nomine";
  src: url(/webfonts/fa-regular-400.ttf);
}

nav .nav__ {
  padding: 1px;
  margin: 0 0 15px 0;
  border-top: 1px solid lightgray;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav__ ul li {
  margin: 4px 30px;
}

nav .nav__ ul li a {
  font-family: Nomine;
  color: #333333;
  -webkit-transition: .2s;
  transition: .2s;
}

nav .nav__ ul li a:hover {
  border-bottom: solid #51ab9a 1px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #51ab9a;
}

header .header__div {
  background-color: #51ab9a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 0.1rem;
}

header .header__div .header__div-p {
  color: white;
  padding: 5px 30px;
  margin: 0 100px;
  font-size: 13px;
  left: -2em;
}

header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

header .header__div2 {
  display: inline-block;
  position: relative;
  width: 400px;
  top: 0;
  padding: 15px;
}

header .header__div3 {
  display: inline-block;
  position: relative;
  width: 350px;
}

header .header__div3 ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

header .header__div3 ul li .facebook:hover {
  background: #3b5999;
}

header .header__div3 ul li .instagram:hover {
  background: #e4485f;
}

header .header__div3 ul li .twitter:hover {
  background: #55acee;
}

header .header__div3 ul li .whatsapp:hover {
  background: #25d366;
}

header .header__div3 ul li a {
  display: block;
  padding: 0 10px;
  margin: 2px;
  background: #155247;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

header .header__div3 ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

@media (max-width: 768px) {
  header .header__div .header__div-p {
    color: white;
    padding: 5px 25px;
    margin: 0;
    font-size: 13px;
  }
}

@font-face {
  font-family: "Nomine";
  src: url(./webfonts/fa-regular-400.ttf);
}

footer {
  font-family: "Nomine";
  background-color: lightgray;
  color: #5e5b5b;
  padding: 20px 0 0 0;
}

@media (max-width: 375px) {
  footer {
    background-color: lightgray;
    width: 100%;
  }
}

footer .p-3 {
  border-right: solid rgba(211, 211, 211, 0.226);
  height: 16rem;
}

footer .lugar__div .lugar__div-p {
  display: inline-block;
  font-size: 16px;
}

footer .lugar__div i {
  color: #51ab9a;
  display: inline-block;
}

footer .lugar__div .lugar__div iframe {
  display: inline-block;
  width: 200px;
  height: 150px;
}

footer .lugar__div .lugar__div-p-p {
  margin: 5px 0 5px 0;
  font-size: 11px;
}

footer .newsletter__div h4 {
  display: inline-block;
  color: #51ab9a;
  font-size: 18px;
}

footer .newsletter__div p {
  font-size: 15px;
  width: 23rem;
  text-align: center;
}

@media (max-width: 375px) {
  footer .newsletter__div p {
    font-size: 11px;
    text-align: center;
    width: 18rem;
  }
}

footer .newsletter__div button {
  text-align: center;
  border: none;
  background: none;
  position: relative;
  left: 1rem;
  top: 1rem;
}

footer .newsletter__div input {
  height: 25px;
  width: 200px;
  font-size: 13px;
  background: lightgray;
  border: none;
  border-bottom: solid grey .5px;
}

footer .newsletter__div input:hover {
  border: none;
  border-bottom: solid grey .5px;
}

footer .newsletter__div i:hover {
  color: #51ab9a;
}

footer .navegacion__div h4 {
  display: inline-block;
  color: #51ab9a;
  font-size: 18px;
}

footer .navegacion__div div a {
  font-size: 15px;
  color: #5e5b5b;
}

footer .navegacion__div div a:hover {
  color: #51ab9a;
}

* {
  font-family: "Nomine Medium";
}

@font-face {
  * {
    font-family: "Nomine Title";
    src: url(./bfovc9HSe1zRiYUu/Nominee-ExtraBoldExtended.ttf);
  }
}

@font-face {
  * {
    font-family: "Nomine Medium";
    src: url(./bfovc9HSe1zRiYUu/Nominee-Medium.ttf);
  }
}

.logos {
  background: #989898;
  width: 100%;
  height: 130;
  margin: 10px 0 10px 0;
}

.logos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logos div div {
  display: inline-block;
  background: #fff;
  width: 130px;
  height: 50px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos div div img {
  width: 130px;
  height: 50px;
}

@font-face {
  font-family: "Nomine Title";
  src: url(../bfovc9HSe1zRiYUu/Nominee-ExtraBoldExtended.ttf);
}

@font-face {
  font-family: "Nomine Medium";
  src: url(../bfovc9HSe1zRiYUu/Nominee-Medium.ttf);
}

.accordion-item {
  border-radius: none;
}

.accordion-flush {
  margin-top: 1rem;
}

.accordion-button:focus {
  border-color: none;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #51ab9a;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/-.png);
}

.accordion-button::after {
  background-image: url(/+.png);
}

.accordion-button::before {
  background-color: #51ab9a;
}

.main__ {
  margin: 30px 0 0 50px;
}

.main__ .main__servicios {
  background-color: lightgrey;
  position: relative;
  width: 50%;
  height: 38rem;
  padding: 20px;
}

.main__ .main__servicios h4 {
  font-size: 1rem;
  color: #51ab9a;
  -webkit-transition: .2s;
  transition: .2s;
}

.main__ .main__servicios h1 {
  width: 45%;
  font-size: 2.8em;
  font-family: "Nomine Title";
}

.main__ .main__servicios .accordion-item {
  width: 85%;
}

.main__ .main__servicios .accordion-item .accordion-button {
  background-color: lightgray;
}

.main__ .main__servicios .accordion-item .accordion-button:not(.collapsed) {
  color: white;
  background-color: #51ab9a;
}

.main__ .main__servicios .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(/-.png);
}

.main__ .main__imagenes {
  position: relative;
  top: 1.1em;
  left: -4em;
  width: 50%;
}

.main__ .main__imagenes img {
  width: 55em;
  height: 35em;
}

.main__ .main__imagenes img:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main2__ {
  margin: 30px 0 0 50px;
}

.main2__ .main2__servicios {
  position: relative;
  width: 50%;
  height: 38rem;
  padding: 20px;
}

.main2__ .main2__servicios h4 {
  font-size: 1rem;
  color: #51ab9a;
  -webkit-transition: .2s;
  transition: .2s;
}

.main2__ .main2__servicios h1 {
  width: 45%;
  font-size: 2.8em;
  font-family: "Nomine Title";
}

.main2__ .main2__servicios .accordion-item {
  width: 85%;
}

.main2__ .main2__imagenes {
  position: relative;
  top: 1.1em;
  left: -4em;
  width: 50%;
}

.main2__ .main2__imagenes img {
  width: 55em;
  height: 35em;
}

.main2__ .main2__imagenes img:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 768px) {
  .main__ {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "main__imagenes" "main__servicios";
    margin: 10px 0 0 0;
  }
  .main__ .main__servicios {
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 35rem;
  }
  .main__ .main__servicios .accordion-item {
    width: 95%;
  }
  .main__ .main__servicios h4 {
    font-size: 0.75em;
  }
  .main__ .main__servicios h1 {
    font-size: 1.875em;
  }
  .main__ .main__imagenes {
    margin: 5px 0 10px 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
  }
  .main__ .main__imagenes img {
    width: 100%;
    height: 28em;
  }
  .main2__ {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "main2__imagenes" "main2__servicios";
    margin: 10px 0 0 0;
  }
  .main2__ .main2__servicios {
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 35rem;
  }
  .main2__ .main2__servicios .accordion-item {
    width: 95%;
  }
  .main2__ .main2__servicios h4 {
    font-size: 0.75em;
  }
  .main2__ .main2__servicios h1 {
    font-size: 1.875em;
  }
  .main2__ .main2__imagenes {
    margin: 5px 0 10px 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
  }
  .main2__ .main2__imagenes img {
    width: 100%;
  }
}
/*# sourceMappingURL=prueba.css.map */