* {
    @font-face {
        font-family: "Nomine Title";
        src: url(./bfovc9HSe1zRiYUu/Nominee-ExtraBoldExtended.ttf)
    }
    @font-face {
        font-family: "Nomine Medium";
        src: url(./bfovc9HSe1zRiYUu/Nominee-Medium.ttf)
    }

    font-family: "Nomine Medium";
}