header {
    .header__div {
        background-color: $fontcolor;
        display: flex;
        width: auto;
        padding: 0.1rem;
        .header__div-p {
            color: white;
            padding: 5px 30px;
            margin: 0 100px;
            font-size: 13px;
            left: -2em;
        }
    }

    .header-conteiner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .header__div2 {
        display: inline-block;
        position: relative;
        width: 400px;
        top: 0;
        padding: 15px;
    }
    .header__div3 {
        display: inline-block;
        position: relative;
        width: 350px;
        ul li {
            display: inline-block;
            margin: 0 5px;
            width: 50px;
            height: 50px;
            text-align: center;
            .facebook:hover{
                background: $facebook;
            }
            .instagram:hover {
                background: $instagram;
            }
            .twitter:hover {
                background: $twitter;
            }
            .whatsapp:hover {
                background: $whatsapp;
            }
            a {
                display: block;
                padding: 0 10px;
                margin: 2px;
                background: #155247;
                color: #fff;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 0 3px 5px 0px rgba(0,0,0,.2);
                transition: .2s;
                &:hover {
                    transform: translateY(-3px) scale(1.05);
                    box-shadow: 0 5px 5px 0px rgba(0,0,0,.4);
                    filter: none;
                }
            }
        }
    }
}

@media (max-width: 768px){
    header {
        .header__div {
            .header__div-p {
                color: white;
                padding: 5px 25px;
                margin: 0;
                font-size: 13px;
            }
        }
    }
}