@font-face {
    font-family: "Nomine Medium";
    src: url(../font/Nominee/Nominee-Medium.otf)
}


nav {
    .nav__ { 
        padding: 1px;
        margin: 0 0 5px 0;
        border-top: 1px solid lightgray;
        align-items: flex-end;
        justify-content: center;
        ul li {
            margin: 4px 30px;
            a {
                font-family: "Nomine Medium";
                color: #333333;
                transition: .2s;
                &:hover {
                    border-bottom: solid $fontcolor 1px; 
                    transform: translateY(-3px);
                    color:$fontcolor;
                    
                } 
            }
        }
}   }