$facebook: #3b5999;
$instagram: #e4485f;
$twitter: #55acee;
$whatsapp: #25d366;
$hover:  #51ab9a;
$fontcolor: #51ab9a;
$width-articulos: 310px;
$enable-grid-classes: false;
$enable-cssgrid: true;

$colorviejo: #51ab9a;


