@import "variables";
@import "nav";
@import "header";
@import "footer";
@import "body";
@import "logos";
@import "font";

@font-face {
    font-family: "Nomine Title";
    src: url(../font/Nominee/Nominee-ExtraBoldExtended.ttf)
}
@font-face {
    font-family: "Nomine Medium";
    src: url(../font/Nominee/Nominee-Medium.ttf)
}

@mixin servicios {
        position: relative;
        width: 50%;
        height: 39rem;
        padding: 20px;
        h4{
            font-size: 1rem;
            color:  $fontcolor;
            transition: .2s;
        }
        h1{
            width: 45%;
            font-size: 2.8em;
            font-family: "Nomine Title";
        }
        p{
            font-family: "Nomine Medium";
            width: 80%;
            text-align: justify;
            font-size: .95rem;
        }
        .main__servicios-planes{
            width: 80%;
            

            h4{
                position: relative;
                text-align: center;
                left: 4rem;
                color: $fontcolor;
                padding: 8px;
                
            }
        }
        
            
            .swiper-button-next{
                color: $fontcolor;
                z-index: -332132321;
                size: 2px;
    }
            .swiper-button-prev{
                color: $fontcolor;
                z-index: -332132321;
                

    }
        .main__servicios-button{
//            display: grid;
//          grid-template-columns: 1fr 1fr 1fr;
            width: 40%;
//          column-gap: 15px;
            button{
                border: 1px solid #51ab9a;
                height: 5rem;
                padding: 1.3rem 3rem;
                transition: .5s;
                a{
                    color: #51ab9a;
                    text-decoration: none;
                    font-family: "Nomine Medium";
                    
                }
                &:hover{
                    background-color: #70c4b5;
                    a{
                        color: white;
                    }
                }

            }
        }

}

@mixin imagenes {
    position: relative;
    top: 1.1em;
    left: -1.2em;
    width: 50%;
    img{
        width: 55em;
        height: 35em;
        &:hover{
            transform:scale(1.10,1.10);
            transition: 1s;
            backface-visibility: hidden;
        }
    }
}



.main__ {
    margin: 30px 0 0 50px ;

    .main__servicios{
        background-color: #efefef;
        @include servicios();
        .main__servicios-button{
        button{
            background-color: #efefef;
        }
        }
    }
    .main__imagenes{
        @include imagenes();
    }
}
.main2__{
    margin: 30px 0 0 50px ;

    .main2__servicios{
        @include servicios();
        .main__servicios-button{
            button{
                background-color:white;
            }
    }
    }
    .main2__imagenes{
        @include imagenes();
    }
}

.section__imagen-corporal{
    width: 100%;
    height: 45vw;

    .section__imagen-corporal2{
        
        position: relative;
        min-height: 50vw;
        background-image: url(../imagenes/corporal/remodelar-cuerpo-sin-cirugia-ar-okf8j9lm456wg1tokmfw1tgw82jhj40d1lqfx5dxfe.jpg);
        background-size:cover;

    .section__imagen-corporal2-texto{
            
            position: absolute;
            top: 3vw;
            left: 45vw;
            text-align: center;
            
        h1{
            
            font-family: "Nomine Title";
            font-size: 2rem;
            color: #efefef;
        }
        p{
            
            color: #efefef;
        }
        button{
            border: 1px solid #51ab9a;
            height: 2.7rem;
            background-color: white;
            padding: .6rem 1rem;
            transition: .5s;
            a{
                color: #51ab9a;
                text-decoration: none;
                font-family: "Nomine Medium";
                font-size: .9rem;
                
            }
            &:hover{
                background-color: #70c4b5;
                a{
                    color: white;
                }
            }

        }
    }
}
}

.section__imagen-facial{
    width: 100%;
    height: 45vw;

    .section__imagen-facial2{
        
        position: relative;
        min-height: 50vw;
        background-image: url(../imagenes/facial/1569445862755-1567099884539-03.jpg);
        background-size:cover;

    .section__imagen-facial2-texto{
            
            position: absolute;
            top: 3vw;
            left: 50vw;
            text-align: center;
            
        h1{
            
            font-family: "Nomine Title";
            font-size: 2rem;
            color: #efefef;
        }
        p{
            
            color: #efefef;
        }
        button{
            border: 1px solid #51ab9a;
            height: 2.7rem;
            padding: .6rem 1rem;
            transition: .5s;
            a{
                color: #51ab9a;
                text-decoration: none;
                font-family: "Nomine Medium";
                font-size: .9rem;
                
            }
            &:hover{
                background-color: #70c4b5;
                a{
                    color: white;
                }
            }

        }
    }
}
}


@media (max-width: 910px){
    .main__{
        display: flex;
        padding: 0 5px 0 5px;
        margin:10px 0 0 0;
        
        .main__servicios{

            margin: 0;
            padding: 10px ; 
            width: 100%;
            height: auto;
            h1{
        
                width: 100%;
                text-align: center;
            }
            p{
                width: 100%;
                font-size: .9rem;
            }
            .main__servicios-planes{
                    width: 100%;
                    text-align: center;   
            }
            .swiper-button-next{
                
                z-index: 999999;
    }
            .swiper-button-prev{
                
                z-index: 999999;
    }
            
            .accordion-item{
                width: 95%;
            }
            h4{
                
                text-align: center;
                font-size: 1em*0.75;
            }
            h1{
                align-items: center;
                justify-content: center;
                font-size: 2.5em*0.73;
            }

          
        }
        .main__imagenes{
            margin: 5px 0 10px 0;
            padding: 0;
            width: 100%;
            top: 0;
            left: 0;
            img{
                width: 100%;
                height: auto;
            }
            
            
        }

    }

    .main2__{
        margin:10px 0 0 0;
        .main2__servicios{
            margin: 0;
            padding:30px ;
            width: 100%;
            height: auto;
            text-align: center;
            .swiper-button-next{
                
                z-index: 999999;
    }
            .swiper-button-prev{
                
                z-index: 999999;
    }
            h4{
                font-size: 1em*0.75;
            }
            h1{
                font-size: 2.5em*0.73;
                width: 100%;
            }
            p{
                width: 100%;
                font-size: .9rem;
            }
            .main__servicios-planes{
                
                width: 100%;
                text-align: center;
            
        }
          
        }
        
        .main2__imagenes{
            margin: 5px 0 10px 0;
            padding: 0;
            width: 100%;
            top: 0;
            left: 0;
            img{
                width: 100%;
                
            }
            
            
        }

    }

    .section__imagen-corporal{
        .section__imagen-corporal2{
            .section__imagen-corporal2-texto{

                h1{
                    font-size: 1.2rem;
                    
                }
                p{
                    font-size: .7rem;

                }
        }
    }

    }

    .section__imagen-facial{
        .section__imagen-facial2{
            .section__imagen-facial2-texto{

                h1{
                    font-size: 1.2rem;
                    
                }
                p{
                    font-size: .7rem;

                }
        }
    }

    }

}

@media (max-width: 1220px){
    .main__{
height: auto;
        .main__servicios{

            h4{
                font-size: 1em*0.75;
            }
            h1{
                font-size: 2.5em*0.73;
                width: 100%;
            }
            p{
                width: 100%;
                font-size: .9rem;
            }
            .main__servicios-planes{
                    h4{
                        position: relative;
                        left: 0;
                    }
                    width: 100%;
                    text-align: center;   
            }
            .swiper-button-next{
                
                z-index: 999999;
    }
            .swiper-button-prev{
                
                z-index: 999999;
    }
    }

}
    .main2__{
        .main2__servicios{
            .main__servicios-planes{
                width: 100%;
                text-align: center;   
                h4{
                    position: relative;
                    left: 0;
                }
            }
            .swiper-button-next{
                z-index: 999999;
            }
            .swiper-button-prev{
                z-index: 999999;
            }
            h4{
                font-size: 1em*0.75;
            }
            h1{
                font-size: 2.5em*0.73;
                width: 100%;
            }
            p{
                width: 100%;
                font-size: .9rem;
            }
        
}
    }

    .section__imagen-facial{
        .section__imagen-facial2{
            .section__imagen-facial2-texto{

                h1{
                    font-size: 1.4rem;
                    
                }
                p{
                    font-size: .9rem;

                }
        }
    }

    }
}



