@import "variables";
@import "nav";
@import "header";
@import "footer";
@import "body";
@import "logos";

@font-face {
    font-family: "Nomine Title";
    src: url(../font/Nominee/Nominee-ExtraBold.otf)
}
@font-face {
    font-family: "Nomine Medium";
    src: url(../font/Nominee/Nominee-Medium.otf)
}

@mixin main-img{
    outline: .5px solid white;
    outline-offset: -7px;
    backface-visibility: hidden;
}
@mixin main-img-hover{
    backface-visibility: hidden;
    transform: scale(1.1, 1.1);
    opacity: 1;
    transition: all .5s ease-out;
    outline: none;
}

@mixin main-h2 {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    display: block;
    font-size: 14px;
    padding: 10px;
}
main {
    padding: 1rem;
    margin: 1.5rem;
    color: #666666;
    .main__h2{
        font-family: "Nomine Title";
        font-size: 3rem;
    }
    a {
    text-decoration: none;
    font-family: "Nomine Medium";
    color: #333333;
    transition: .5s;
    }
    button {
        width: 140px;
        height: 50px;
        margin: 10px;
        padding: 10px;
        font-size: 14px;
        border: 1px solid $fontcolor;
        background-color: #fff;
        color: #333333;
        transition: .2s;
        &:hover {
            background-color: $fontcolor;
            color: #fff;
            border: none;
        }
        a {
            font-weight: bolder;
            display: inline-block;
            padding: 17px 0 0 0;
            height: 50px;
            width: 140px;
            position: relative;
            color: $fontcolor;
            left: -12px;
            top: -11px;
            transition: .2s;
            &:hover{
                color: #fff;
                font-weight: bolder;
                display: inline-block;
                padding: 17px 0 0 0;
                height: 50px;
                width: 140px;
                position: relative;
                left: -12px;
                top: -11px;
            }
        }
    }
    .main__div1 {
            img{
                @include main-img();
                &:hover {
                    @include main-img-hover();
                }
            }
            
            .main__div1-p {
                margin: 18px;
                font-size: 14px;
                font-family: "Nomine Title";
            }
            .main__div1-h2 {
                @include    main-h2();

                a:hover{
                    color: $fontcolor;
                }
            }
            .main__div1-p2 {
                margin: 18px;
            }
    }
    .main__div2{

        img{
            @include main-img();
            &:hover{
                @include main-img-hover();
            }
        }

        .main__div2-p {
            margin: 18px;
            font-size: 14px;
            font-family: "Nomine Title";
        }
        .main__div2-h2 {
            @include    main-h2();
            a:hover{
                color: $fontcolor;
            }
        }
        .main__div2-p2 {
            margin: 18px;
        }

    }
    .main__div3{
        img{
            width: 353.33px;
            height: 224px;
            @include main-img();
            &:hover {
                @include main-img-hover();
            }
        }
        .main__div3-p {
            margin: 18px;
            font-size: 14px;
            font-family: "Nomine Title";
        }
        .main__div3-h2 {
            @include    main-h2();
            a:hover {
                color: $fontcolor;
            }
        }
        .main__div3-p2 {
            margin: 18px;
        }
    }
}
