@import "variables";
@import "nav";
@import "header";
@import "footer";
@import "body";
@import "logos";
@import "font";
@import Swiper, { Navigation, Pagination } from 'swiper';

@font-face {
    font-family: "Nomine Title";
    src: url(../bfovc9HSe1zRiYUu/Nominee-ExtraBoldExtended.ttf)
}
@font-face {
    font-family: "Nomine Medium";
    src: url(../font/Nominee/Nominee-Medium.ttf)
}


    

.section__{
    background-color: #efefef;
    padding: 3rem;
    height: 25rem;
    display: flex;
    justify-content: center;

    .section__titulo{
        flex-wrap: wrap;
        padding: 0 0 0 0;
        margin-top: -2rem;
        h1{
            font-family: "Nomine Title";
            font-size: 2.8rem;
        }
    }
    .section__parrafo{
        flex-wrap: wrap;
        p{
            font-family: "Nomine Medium";
        }
    }
}

.section2__{
    margin: 2rem 0 0 0 ;
    display: grid;

    .section2__titulo{
        
        h1{
            font-family: "Nomine Title";
            font-size: 2.8rem;
        }
    }

    .section2__valores{
        padding: 2rem;
        .section2_div {
            width: 25rem;
            height: 15rem;
            h4{
                padding-top: 1rem;
                font-family: "Nomine Title";
                font-size: 1.1rem;
            }
            p{
                padding-top: 1rem;
                font-family: "Nomine Medium";
                font-size: .8rem;
            }
        }
    }


}