@import "variables";
@import "nav";
@import "header";
@import "footer";
@import "body";
@import "logos";
@import "font";


@font-face {
    font-family: "Nomine Title";
    src: url(../font/Nominee/Nominee-ExtraBoldExtended.ttf)
}
@font-face {
    font-family: "Nomine Medium";
    src: url(../font/Nominee/Nominee-Medium.ttf)
}


    

.section__{
    background-color: #efefef;
    padding: 3rem;
    height: 25rem;
    display: flex;
    justify-content: center;

    .section__titulo{
        flex-wrap: wrap;
        padding: 0 0 0 0;
        margin-top: -2rem;
        h1{
            font-family: "Nomine Title";
            font-size: 2.8rem;
        }
    }
    .section__parrafo{
        flex-wrap: wrap;
        p{
            font-family: "Nomine Medium";
        }
    }
}




.section2__titulo{
    padding: 1rem 0 0 2rem;
    h1{
    font-family: "Nomine Title";
    font-size: 2.8rem;
}
}
.swiper{
    margin: 5rem 2rem 3rem 0 ;
    width: 95%;
    .section2__articulos{
        
        div{
            padding: 30px;
            border: 1px solid #4e4e4e;
            width: 20rem;
            height: 18rem;
            text-align: center;
            h4{
                margin-top: 15px;
                font-family: "Nomine Title";
                font-size: 1.2rem;
                line-height: 2.4rem;
            }
            p{
                font-size: .8rem;
            }
        }
    }
    .swiper-button-next{
        color: $fontcolor;
    
    }
    .swiper-button-prev{
        color: $fontcolor;
    }
}

@media (max-width: 768px){
    .section__{
        margin-top: 1rem;
        display: block;
        height: auto;
        .section__titulo{
            width: 100%;
            text-align: center;
            h1{
                
                font-size: 2rem;
            }
        }
        .section__parrafo{
            text-align: justify;
            
            width: 100%;
            p{
                font-size: .9rem;
            }
        }
    }

    .section2__articulos{
        div{
            height: auto;
        }
    }

}

